<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/meta.ejs %>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/global/background.css?r=mx4xie4n5hxjq0k9">
    <link rel="stylesheet" href="/styles/global/index.css?r=mx4xie4n5hxjq0k9">
    <link rel="stylesheet" href="/styles/global/sweetalert.css?r=mx4xie4n5hxjq0k9">
    <!--STYLES END-->

    <!--STYLES CUSTOM-->
    <% include ../partials/css.ejs %>
    <link rel="stylesheet" href="/styles/projects/index.css?r=<%= random %>">
    <link rel="stylesheet" href="/styles/dependencies/redactor.css?r=<%= random %>">
    <!--STYLES CUSTOM END-->
  </head>

  <body>
    <div class="background <%= template.replace(/\//g, "_") + ' ' + template.split("/")[0] %>"></div>
    <div class="container">
      <% include ../projects/partials/header.ejs %>
      <div class="modal">
        <% include ../projects/partials/sidebar.ejs %>
        <%- body %>
        <div class="shadow-top"></div>
        <div class="shadow-bottom"></div>
      </div>
      <% include ../partials/footer.ejs %>
    </div>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS CUSTOM-->
    <% include ../partials/config.ejs %>
    <% include ../partials/javascript.ejs %>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js?r=<%= random %>"></script>
    <script src="/js/dependencies/redactor.min.js?r=<%= random %>"></script>
    <script src="/js/dependencies/redactor.bufferbuttons.js?r=<%= random %>"></script>
    <script src="/js/projects/index.js?r=<%= random %>"></script>
    <!--SCRIPTS CUSTOM END-->

    <!--SCRIPTS-->
    <script src="/js/global/sweetalert.min.js?r=mx4xie4n5hxjq0k9"></script>
    <!--SCRIPTS END-->
  </body>
</html>
