<div class="content">
  <% if(blocks.length > 0) { %>
    <div class="header">
      <div class="deploy-button">Deploy Changes</div>
      <a href="<%= path %>/blocks/create" class="new-button fa fa-plus"></a>
      <div class="search-box">
        <div class="icon fa fa-search"></div>
        <input class="search input" type="text" placeholder="Search for a block by title, tags..."/>
      </div>
      <div class="clear"></div>
    </div>
    <table class="data-table">
      <thead>
        <tr>
          <td></td>
          <td>Title (unique)</td>
          <td>Text</td>
          <td>Last Saved</td>
          <td>Last Deployed</td>
        </tr>
      </thead>
      <tbody>
        <% blocks.forEach(function(block) { %>
          <tr class="<%= block.dirty ? "dirty": "" %>" href="<%= path %>/blocks/<%= block.id %>">
            <td>
              <div class="fa fa-<%= block.dirty ? "asterisk" : "pencil" %>"></div>
            </td>
            <td><%= block.title %></td>
            <td><%- block.html %></td>
            <td><%=: block.savedAt | humanize %></td>
            <td><%=: block.deployedAt | humanize %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <div class="new-block-message">
      <div class="message">
        <% if(pane == "global") { %>
          Write a <span><%=: pane | platformFormat %></span> Block
        <% } else { %>
          Write an <span><%=: pane | platformFormat %></span> Block
        <% } %>
      </div>
      <div class="submessage">
        Blocks allow you to change the text in your<br>
        app on the fly. You read it correctly,<br>
        <strong>no more waiting for app review!</strong>
      </div>
      <a class="new-button" href="<%= path %>/blocks/create">
        Lets Do This!
      </a>
      <div class="subsubmessage">
        <%=: pane | platformFormat %> blocks are device specific and supersede any<br>
        Global blocks with the same title.
      </div>
    </div>
  <% } %>
</div>
