<div class="content">
  <form class="block-form" action="<%= path %>">
    <input type="hidden" name="_csrf" value="<%= _csrf %>">
    <div class="header">
      <div class="back-button fa fa-chevron-left" data-href="/projects/<%= project.id %>/<%= pane %>"></div>
      <% if(block) { %>
        <input type="text" class="block-title" name="title" placeholder="Give Your Block A Title" value="<%= block.title %>" step="1" readonly required>
        <div class="delete-button">Delete</div>
        <input class="save-button" value="save" type="submit">
      <% } else { %>
        <input type="text" class="block-title" name="title" placeholder="Give Your Block A Title" step="1" autofocus required>
        <div class="delete-button" style="display: none">Delete</div>
        <input class="save-button" value="create" type="submit">
      <% } %>
      <div class="clear"></div>
    </div>
    <div class="block-editor">
      <textarea class="payload" name="html"><%= block ? block.html : "" %></textarea>
      <div class="variable-selection">
        <div class="variable-header">Global Variables</div>
        <div class="variable-explanation">
          Global variables can be accessed from<br>
          any block in this project.
        </div>
        <div class="variables">
          <% Object.keys(platform.variables).forEach(function(key) { %>
            <variable class="global" data-source="global"><%= key %></variable>
          <% }) %>
          <!-- TODO: Remove when API is live -->
          <variable class="global" data-source="global">user name</variable>
          <variable class="global" data-source="global">user email</variable>
        </div>
        <div class="variable-header">Block Variables</div>
        <div class="variable-explanation">
          Block variables can only be accessed<br>
          from this block.
        </div>
        <div class="variables">
          <% if(block) { %>
            <% Object.keys(block.variables).forEach(function(key) { %>
              <variable class="block" data-source="block"><%= key %></variable>
            <% }) %>

            <!-- TODO: Remove when API is live -->
            <variable class="block" data-source="block">promo name</variable>
            <variable class="block" data-source="block">promo questions</variable>
          <% } %>
        </div>
      </div>
    </div>
  </form>
  <div class="clear"></div>
</div>
