<div class="content">
  <% if(blocks.length > 0) { %>
    <div class="header">
      <div class="deploy-button <%= (dirtyBlocks == 0) ? "disabled" : "" %>">Deploy Changes</div>
      <a href="<%= path %>/blocks/create" class="new-button fa fa-plus"></a>
      <div class="search-box">
        <div class="icon fa fa-search"></div>
        <input class="search input" type="text" placeholder="Search for a block by title, tags..."/>
      </div>
      <div class="clear"></div>
    </div>
    <% if(dirtyBlocks > 0) { %>
      <div class="deploy-message">
        <%= dirtyBlocks %> block<%= dirtyBlocks > 1 ? "s" : "" %> ready to be deployed!
      </div>
    <% } %>
    <table class="data-table">
      <thead>
        <tr>
          <td></td>
          <td>Title (unique)</td>
          <td>Text</td>
          <td>Last Saved</td>
          <td>Last Deployed</td>
        </tr>
      </thead>
      <tbody>
        <% blocks.forEach(function(block) { %>
          <tr class="<%= block.dirty ? "dirty": "" %>" href="<%= path %>/blocks/<%= block.id %>">
            <td>
              <div class="fa fa-pencil"></div>
            </td>
            <td><%= block.title %></td>
            <td><%- block.html %></td>
            <td><%=: block.savedAt | humanize %></td>
            <td><%=: block.deployedAt | humanize %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <div class="new-block-message">
      <div class="message">
        Add <span>CoPylot</span> to Your App
      </div>
      <div class="submessage">
        All the text in your app will <strong>appear here</strong> once you<br>
        install our SDK and run your <%=: pane | platformFormat %> app once.<br>
      </div>
      <a class="new-button" target="_blank"
        href="//docs.copylot.io/docs/<%= pane != "settings/management" ? pane : "ios" %>?app[id]=<%= project.id %>&app[secret]=<%= project.secret %>">
        Install CoPylot
      </a>
      <a class="invite-button" href="/projects/<%= project.id %>/settings/management">
        Invite Your Developer
      </a>
    </div>
  <% } %>
</div>
