<div class="sidebar">
  <div class="header">
    <div class="project"><%= project.name %></div>
    <div class="arrow fa fa-chevron-down"></div>
    <div class="clear"></div>
  </div>
  <div class="dropdown">
    <% user.projects.forEach(function(project) { %>
      <a href="/projects/<%= project.id + (platform ? ("/" + platform) : "") %>">
        <%= project.name %>
      </a>
    <% }) %>
    <a href="/projects/new" class="create">
      <span class="fa fa-plus"></span>
      Create Project
    </a>
  </div>
  <div class="navigation">
    <div class="header">Platforms</div>
    <a class="item <%= !platform ? "active" : "" %>" href="/projects/<%= project.id %>/global">
      <span class="fa fa-globe"></span> Global
    </a>
    <a class="item <%= (platform == "ios") ? "active" : "" %>" href="/projects/<%= project.id %>/ios">
      <span class="fa fa-apple"></span> iOS
    </a>
    <a class="item <%= (platform == "android") ? "active" : "" %>" href="/projects/<%= project.id %>/android">
      <span class="fa fa-android"></span> Android
    </a>
  </div>
</div>
